//scss全局变量

//定义项目的主题颜色
$title-jcm:25px;
//左侧菜单的宽度
$base-menu-width:220px;



//内容区的内边距
$base-main-context-padding:20px;
//顶部导航的高度
$base-tabbar-height:45px;
//顶部Tabs的高度
$base-tabs-height:45px;
//左侧菜单logo高度设置
$base-menu-logo-height:50px;


//左侧菜单折叠之后的宽度
$base-menu-min-width:65px;

//统一border-radius
$base-border-radius:5px;
//输入框的宽度
$base-input-width:200px;
//选择框的宽度
$base-select-width:230px;


//主题色
//导航栏背景色
$lvshihao-menu-suuny-bg:#ffffff;
$lvshihao-menu-suuny-item-active-bg:#fafafb;
$lvshihao-menu-suuny-item-active-hover-bg:#fafafb;
$lvshihao-menu-suuny-item-active-box-shadow:#f4f4f8;
//选中的导航栏图片颜色
$lvshihao-menu-suuny-item-active-div-svg-color:#ffffff;
$lvshihao-menu-suuny-item-div-svg-color:#000000;
$lvshihao-menu-suuny-item-hover-bg:#f2f2f8;





$lvshihao-menu-moon-bg:#161618;
$lvshihao-menu-moon-item-active-bg:#161618;
$lvshihao-menu-moon-item-active-hover-bg:#161618;
$lvshihao-menu-moon-item-active-div-svg-bg:#fafafb;
$lvshihao-menu-moon-item-div-svg-color:#ffffff;
$lvshihao-menu-moon-item-hover-bg:#212121;