//vxe样式区域
.vxe-table--render-default .vxe-table--border-line {
    border: none !important;
  }
// .vxe-table--render-default.border--inner .vxe-table--header-wrapper {
//   background-color: transparent !important;
// }

html{
    // // vxe白天主题
    // --vxe-ui-font-color: #000000;
    // --vxe-ui-font-primary-color: #000000;
    // //vxe表格样式
    // .vxe-table--header-wrapper.body--wrapper {
    //   color: #68696d;
      .vxe-table--header {
        background-color: white;
      }
    //   .vxe-table--header-border-line {
    //     border-bottom: 1px solid #ebeef5;
    //   }
    // }
    // .vxe-table--body-wrapper.body--wrapper {
    //   color: #68696d;
    //   .vxe-body--row {
    //     .vxe-body--column {
    //       background-image: none !important;
    //       border-bottom: 1px solid #ebeef5;
    //     }
    //   }
    // }
}

html.dark{
    //vxe暗黑主题
    --vxe-ui-font-color: var(--lvshihao-suuny-bg);
    --vxe-ui-font-primary-color: var(--lvshihao-suuny-bg);
    --vxe-ui-table-header-background-color: var(--lvshihao-moon-bg);
    --vxe-ui-layout-background-color: var(--lvshihao-moon-bg);
    
    .vxe-table--render-default.border--default .vxe-body--column,
    .vxe-table--render-default.border--default .vxe-footer--column,
    .vxe-table--render-default.border--default .vxe-header--column,
    .vxe-table--render-default.border--inner .vxe-body--column,
    .vxe-table--render-default.border--inner .vxe-footer--column,
    .vxe-table--render-default.border--inner .vxe-header--column {
      background-image: none;
    }
    //vxe表格样式
  .vxe-table--header-wrapper.body--wrapper {
    color: #a3a6ad;
    .vxe-table--header {
      background-color: var(--lvshihao-moon-bg);
    }
    .vxe-table--header-border-line {
      border-bottom: 1px solid #363637;
    }
  }
  .vxe-table--body-wrapper.body--wrapper {
    color: #cfd3dc;
    .vxe-body--row {
      .vxe-body--column {
        background-image: none !important;
        border-bottom: 1px solid #363637;
      }
    }
  }
}